.delivery__header {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  padding-top: 24px;
  padding-bottom: 8px;
}

.delivery__list {
  display: flex;
  gap: 8px;
}

.delivery__item {
  box-sizing: border-box;
  display: inline-block;
  padding: 16px 20px;

  border: 1px solid $item-border;
  border-radius: 4px;
}

.delivery__item:first-child {
  border: 2px solid $blue;
  border-radius: 4px;
}

.delivery__item-header {
  box-sizing: border-box;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
}

.delivery__item-info {
  box-sizing: border-box;
}

@media (min-width: $desktop-width) {
  .delivery__header {
    font-size: 29px;
    line-height: 37px;

    padding-top: 40px;
    padding-bottom: 17px;
  }

  .delivery__item-labirint {
    order: 1;
  }

  .delivery__item-header {
    font-size: 22px;
    line-height: 28px
  }

  .delivery__item {
    padding: 20px 20px;
    cursor: pointer;
  }

  .delivery__item-labirint {
    padding-top: 34px;
  }

  .delivery__item-info {
    font-size: 22px;
    line-height: 28px;
    color: $primary-text-color
  }

  .delivery__list {
    gap: 14px;
  }
  
}