.order__footer {
  position: fixed;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  height: 118px;

  background-color: $background-footer;
}

.order-footer__wrapper {
  width: 360px;
  margin: 0 auto;
  padding: 16px 16px 32px;
  box-sizing: border-box;
}

.button__footer {
  padding: 16px 20px;

  color: $white;
  font-size: 17px;
  line-height: 21px;
  font-weight: 700;

  width: 328px;
  height: 52px;

  background: linear-gradient(0deg, #EC0002, #EC0002), linear-gradient(91.91deg, rgba(208, 38, 38, 0) 0%, #D02626 99.65%), #FF0000;
  border: 1px solid $button-border;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04), 0px 2px 0px rgba(149, 135, 128, 0.4);
  border-radius: 4px;

  margin-bottom: 16px;
}

.order__footer-summary {
  margin-bottom: 16px;

  display: flex;
  justify-content: space-between;
}

.footer-summary__name {
  font-weight: 700;
}

.button__more {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

@media (min-width: $desktop-width) {
  .order-footer__wrapper {
    display: flex;
    justify-content: space-between;

    width: 1743px;

    padding-top: 19px;
    padding-right: 84px;
    padding-bottom: 20px;
    padding-left: 43px;
  }

  .button__more {
    display: none;
  }

  .order__footer-summary {
    order: 1;
    width: 490px;
    align-items: center;
  }

  .button__footer {
    margin: 0;
    padding: 21px 50px 22px;

    font-size: 29px;
    line-height: 37px;

    width: 398px;
    height: 80px
  }

  .footer-summary__name {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
  }

  .footer-summary__price {
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
  }

}