.order__user {
  margin-top: 32px;

  position: relative;

  margin-bottom: 24px;
}

.user__new {
  position: absolute;

  top: -27px;
  right: 0;
}

.user__header {
  font-weight: 700;
  font-size: 21px;

  margin-bottom: 8px;
}

.user__select {
  border: 1px solid #D6D6D6;
  border-radius: 4px;

  padding-left: 16px;
  padding-top: 33px;
  padding-right: 45px;
  padding-bottom: 16px;

  background-color: $white;

  height: 69px;

  font: inherit;
  color: $main-text-color;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.13px;

  box-sizing: border-box;

  appearance: none;
  background: url('/img/arrow.alt.down.png') no-repeat;

  cursor: pointer;
}

.user__name {
  width: 328px;

  background-position: 293px 31px;
}

.user__phone {
  width: 210px;

  background-position: 175px 31px;
}

.user__item {
  position: relative;

  margin-bottom: 8px;

  &--phone {
    display: flex;
    gap: 16px;
  }
}

.user__info {
  position: absolute;
  top: 0;
  left: 0;

  letter-spacing: 0.13px;

  color: $user-info-color;

  padding-left: 16px;
  padding-top: 16px;
}

.phone__new {
  text-align: left;
}

@media (min-width: $desktop-width) {
  .order__user {
    margin-top: 30px;

    margin-bottom: 0;
  }

  .user__header {
    font-size: 29px;
    line-height: 37px;

    margin-bottom: 14px;
  }

  .user__new {
    position: static;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .phone__new {
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .user__list {
    display: flex;
    gap: 14px;
  }

  .user__item {
    display: flex;
    flex-direction: column;
    gap: 14px;

    margin-bottom: 51px;
  }

  .user__select {
    padding-left: 14px;
    padding-top: 34px;
    padding-right: 58px;
    padding-bottom: 12px;

    height: 74px;

    font-size: 22px;
    line-height: 28px
  }

  .user__name {
    width: 572px;

    background-position: 539px 32px;
  }

  .user__phone {
    width: 287px;

    background-position: 256px 32px;
  }

  .user__info {
    font-size: 17px;
    line-height: 21px;

    padding-top: 8px;
    padding-left: 14px;
  }
  


}